BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../img/bg.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #686868; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
BODY.mceContentBody {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: #fff
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
A {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #666; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000
}
LABEL {
	
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.button {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px solid; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f0f0f0
}
.inputbox {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f0f0f0
}
TABLE.wrap {
	BORDER-LEFT: #000 1px solid
}
#menutop {
	MARGIN: -10px 0px -2px; VERTICAL-ALIGN: top
}
UNKNOWN {
	MARGIN: -10px 0px 0px
}
#img-top {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD.top-bg {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(../img/header_bg.gif); BACKGROUND-REPEAT: repeat-x
}
TABLE.top {
	MARGIN: 0px 0px -14px; boder-bottom: 1px #000 solid
}
UNKNOWN {
	MARGIN: 0px 0px -2px
}
TD.top-menu {
	BACKGROUND-IMAGE: url(../img/tmenu_bg.png); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #000000
}
TD.search {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../img/tmenu_bg.png); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 265px; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x
}
TD.search FORM DIV {
	PADDING-RIGHT: 3px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
UNKNOWN {
	PADDING-RIGHT: 3px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px; TEXT-ALIGN: right
}
TD.free {
	WIDTH: 186px
}
#banner {
	WIDTH: 100%
}
TD.col-contenido {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; WIDTH: 504px; PADDING-TOP: 0px; BACKGROUND-COLOR: #fff; max-height: 100px
}
TD.contenido {
	BACKGROUND-IMAGE: url(../img/cont-col_bg.png); BACKGROUND-REPEAT: repeat-x; HEIGHT: 100%
}
#main {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 20px; WIDTH: 495px; PADDING-TOP: 0px
}
#bottom {
	WIDTH: 495px; TEXT-ALIGN: center
}
TD.col-2da {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; BACKGROUND-IMAGE: url(../img/2col_bg.png); PADDING-BOTTOM: 20px; MARGIN: 0px; VERTICAL-ALIGN: top; WIDTH: 251px; PADDING-TOP: 10px; BACKGROUND-REPEAT: repeat-y
}
#servicios TABLE.moduletable {
	WIDTH: 242px
}
TD.col-comercial {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../img/com-col_bg.png); PADDING-BOTTOM: 20px; VERTICAL-ALIGN: top; WIDTH: 185px; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-y
}
TABLE.pie {
	MARGIN: 0px; VERTICAL-ALIGN: top; COLOR: #ffffff
}
UNKNOWN {
	MARGIN: 0px
}
TABLE.pie P {
	MARGIN: 0px 10px 10px 80px
}
TABLE.pie A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #990000
}
TABLE.pie A:hover {
	COLOR: #cc0000
}
TABLE.pie IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD.legal {
	BACKGROUND-IMAGE: url(../img/pie_legal.png); BACKGROUND-REPEAT: repeat-x
}
UL#mainlevel-nav {
	MARGIN-LEFT: 10px; WIDTH: 100%; WHITE-SPACE: nowrap
}
UNKNOWN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 23px
}
UL#mainlevel-nav LI {
	DISPLAY: inline; HEIGHT: 23px
}
#mainlevel-nav A {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bolder; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; TEXT-TRANSFORM: lowercase; COLOR: #fff; PADDING-TOP: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap
}
UNKNOWN {
	
}
#mainlevel-nav A:hover {
	TEXT-DECORATION: underline
}
TABLE.moduletable-main_menu {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 50% bottom; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../img/mmenu_down.png); PADDING-BOTTOM: 13px; MARGIN: 0px 0px 15px 7px; WIDTH: 242px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
TABLE.moduletable-main_menu TH {
	FONT-SIZE: 0px; BACKGROUND-IMAGE: url(../img/mmenu_th.png); COLOR: #646262; BACKGROUND-REPEAT: no-repeat; HEIGHT: 10px
}
UNKNOWN {
	FONT-SIZE: 1px; LINE-HEIGHT: 5px; HEIGHT: 24px; font-size-adjust: 0px
}
TABLE.moduletable-main_menu TABLE {
	BACKGROUND-IMAGE: url(../img/mmenu_bg.png); BACKGROUND-REPEAT: repeat-y
}
A.mainlevel:link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 20px; FONT-WEIGHT: bolder; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; TEXT-TRANSFORM: lowercase; COLOR: #fff; LINE-HEIGHT: 12px; PADDING-TOP: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.mainlevel:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 20px; FONT-WEIGHT: bolder; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; TEXT-TRANSFORM: lowercase; COLOR: #fff; LINE-HEIGHT: 12px; PADDING-TOP: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.mainlevel:hover {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left 50%; PADDING-LEFT: 35px; BACKGROUND-IMAGE: url(../img/btn_down.gif); PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #de9931
}
A.sublevel:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.sublevel:link {
	FONT-WEIGHT: normal; COLOR: #333333; FONT-FAMILY: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, serif
}
A.sublevel:visited {
	FONT-WEIGHT: normal; COLOR: #333333; FONT-FAMILY: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, serif
}
A.mainlevel-user:link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 20px; FONT-WEIGHT: bolder; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; TEXT-TRANSFORM: lowercase; COLOR: #666666; LINE-HEIGHT: 12px; PADDING-TOP: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.mainlevel-user:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 20px; FONT-WEIGHT: bolder; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; TEXT-TRANSFORM: lowercase; COLOR: #666666; LINE-HEIGHT: 12px; PADDING-TOP: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.mainlevel-user:hover {
	BACKGROUND-COLOR: #dddddd
}
TABLE.moduletable {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; MARGIN: 0px 0px 10px 7px; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #ffffff
}
TABLE.moduletable TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 5px; TEXT-TRANSFORM: uppercase; COLOR: #fff; PADDING-TOP: 2px; FONT-FAMILY: "Arial Narrow", Arial, Verdana, sans-serif; BACKGROUND-COLOR: #f7b510; TEXT-ALIGN: left
}
TABLE.moduletable IMG {
	TEXT-ALIGN: center
}
TABLE.moduletable-none {
	BACKGROUND-IMAGE: none; WIDTH: 242px
}
TABLE.moduletable-news {
	WIDTH: 495px; TEXT-ALIGN: left
}
TABLE.moduletable-news TH {
	BORDER-RIGHT: #fff 7px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 7px solid; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; MARGIN: 20px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #fff 7px solid; COLOR: #fff; PADDING-TOP: 10px; BORDER-BOTTOM: #fff 7px solid; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #d10c0c; TEXT-ALIGN: left
}
TABLE.moduletable-news TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
TABLE.moduletable-news P {
	WHITE-SPACE: normal
}
TABLE.moduletable-news TD IMG {
	MARGIN: 0px 5px 5px 0px
}
TABLE.moduletable-news TABLE.contentpaneopen {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE.moduletable-news A.contentpagetitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 16px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ce5a00; LINE-HEIGHT: 17px; PADDING-TOP: 0px; FONT-FAMILY: "Arial Narrow", Arial, Verdana, sans-serif
}
TABLE.moduletable-news TD.contentheading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
TABLE.moduletable-news IMG {
	BORDER-RIGHT: #cdcdcd 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cdcdcd 1px solid; PADDING-LEFT: 0px; BACKGROUND: #000000; PADDING-BOTTOM: 1px; MARGIN: 0px; BORDER-LEFT: #cdcdcd 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #a90a0a 4px solid
}
TABLE.moduletable-news .mosimage {
	BORDER-RIGHT: #cdcdcd 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cdcdcd 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 4px; BORDER-LEFT: #cdcdcd 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #cdcdcd 1px solid
}
TABLE.moduletable-news .mosimage_caption {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; COLOR: #666; PADDING-TOP: 2px; BORDER-BOTTOM: #f7b510 2px solid; BACKGROUND-COLOR: #ffe69c
}
A.readon {
	MARGIN: 4px 0px 0px; COLOR: #f7b510
}
TABLE.moduletable-constant {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 50% bottom; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../img/mmenu_down.png); PADDING-BOTTOM: 13px; MARGIN: 0px 0px 15px 7px; WIDTH: 242px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #f7b510
}
TABLE.moduletable-constant TABLE {
	BACKGROUND-IMAGE: url(../img/mmenu_bg.png); BACKGROUND-REPEAT: repeat-y
}
TABLE.moduletable-constant TH {
	FONT-SIZE: 0px; BACKGROUND-IMAGE: url(../img/constant_th.png); COLOR: #646262; BACKGROUND-REPEAT: no-repeat; HEIGHT: 10px
}
UNKNOWN {
	FONT-SIZE: 1px; LINE-HEIGHT: 5px; HEIGHT: 24px; font-size-adjust: 0px
}
TABLE.moduletable-constant TABLE TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
UNKNOWN {
	
}
TABLE.moduletable-constant LABEL {
	LINE-HEIGHT: 20px
}
TABLE.moduletable-constant INPUT.button {
	MARGIN: 0px 0px 5px
}
INPUT#mod_constant_email {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; MARGIN: 4px 0px 0px; TEXT-TRANSFORM: lowercase; BORDER-LEFT: #ccc 1px solid; WIDTH: 110px; COLOR: #898989; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TABLE.moduletable-login {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 50% bottom; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../img/mmenu_down.png); PADDING-BOTTOM: 13px; MARGIN: 0px 0px 15px 7px; WIDTH: 242px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #f7b510
}
TABLE.moduletable-login TABLE {
	BACKGROUND-IMAGE: url(../img/mmenu_bg.png); BACKGROUND-REPEAT: repeat-y
}
TABLE.moduletable-login TH {
	FONT-SIZE: 0px; BACKGROUND-IMAGE: url(../img/login_th.png); COLOR: #646262; BACKGROUND-REPEAT: no-repeat; HEIGHT: 10px
}
UNKNOWN {
	FONT-SIZE: 1px; LINE-HEIGHT: 5px; HEIGHT: 24px; font-size-adjust: 0px
}
TABLE.moduletable-login TABLE TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
UNKNOWN {
	
}
TABLE.moduletable-login LABEL {
	LINE-HEIGHT: 20px
}
TABLE.moduletable-login INPUT.button {
	MARGIN: 0px 0px 5px
}
INPUT#mod_login_password-login {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; MARGIN: 4px 0px 0px; TEXT-TRANSFORM: lowercase; BORDER-LEFT: #ccc 1px solid; WIDTH: 50px; COLOR: #898989; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
INPUT#mod_login_username-login {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; MARGIN: 4px 0px 0px; TEXT-TRANSFORM: lowercase; BORDER-LEFT: #ccc 1px solid; WIDTH: 50px; COLOR: #898989; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.inputbox-login {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.message {
	PADDING-RIGHT: 143px; PADDING-LEFT: 150px; PADDING-BOTTOM: 20px; COLOR: #9f3737; PADDING-TOP: 20px
}
TABLE.moduletable-login DIV {
	BACKGROUND-IMAGE: url(../img/mmenu_bg.png); BACKGROUND-REPEAT: repeat-y
}
#mod_login_logoutform-login {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px; HEIGHT: auto
}
#mod_login_logoutform-login DIV {
	BACKGROUND-IMAGE: none
}
#mod_login_greeting-login DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE.moduletable-gallery {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 50% bottom; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../img/gallery_down.png); PADDING-BOTTOM: 10px; MARGIN: 0px 0px 15px 7px; WIDTH: 245px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
TABLE.moduletable-gallery TH {
	FONT-SIZE: 0px; BACKGROUND-IMAGE: url(../img/gallery_th.png); COLOR: #ffffff; LINE-HEIGHT: 12px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 13px
}
UNKNOWN {
	HEIGHT: 22px
}
TABLE.moduletable-gallery TABLE {
	BACKGROUND-IMAGE: url(../img/gallery_bg.png); BACKGROUND-REPEAT: repeat-y
}
TABLE.moduletable-gallery TABLE TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-ALIGN: center
}
TABLE.moduletable-polls {
	BORDER-RIGHT: #f7b510 2px solid; PADDING-RIGHT: 0px; BORDER-TOP: #f7b510 2px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 20px 7px; BORDER-LEFT: #f7b510 2px solid; WIDTH: 242px; PADDING-TOP: 0px; BORDER-BOTTOM: #f7b510 2px solid
}
TABLE.moduletable-polls TH {
	FONT-SIZE: 0px; BACKGROUND-IMAGE: url(../img/polls_th.png); COLOR: #f7b510; LINE-HEIGHT: 12px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 18px
}
UNKNOWN {
	HEIGHT: 28px
}
TABLE.poll-polls DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
TABLE.poll-polls TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px; TEXT-ALIGN: left
}
TABLE.moduletable-who {
	BORDER-RIGHT: #f7b510 1px solid; BORDER-TOP: #f7b510 1px solid; MARGIN: 0px 0px 20px 7px; BORDER-LEFT: #f7b510 1px solid; WIDTH: 243px; BORDER-BOTTOM: #f7b510 1px solid; BACKGROUND-COLOR: #ffffff
}
TABLE.moduletable-who TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TABLE.moduletable-who TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 5px; TEXT-TRANSFORM: uppercase; COLOR: #fff; PADDING-TOP: 2px; FONT-FAMILY: "Arial Narrow", Arial, Verdana, sans-serif; BACKGROUND-COLOR: #f7b510; TEXT-ALIGN: left
}
TABLE.moduletable-cart {
	BORDER-RIGHT: #f7b510 2px solid; PADDING-RIGHT: 0px; BORDER-TOP: #f7b510 2px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 20px 7px; BORDER-LEFT: #f7b510 2px solid; WIDTH: 242px; PADDING-TOP: 0px; BORDER-BOTTOM: #f7b510 2px solid
}
UNKNOWN {
	WIDTH: 242px
}
TABLE.moduletable-cart TH {
	FONT-SIZE: 0px; BACKGROUND-IMAGE: url(../img/cart_th.png); COLOR: #f7b510; LINE-HEIGHT: 12px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 18px
}
UNKNOWN {
	HEIGHT: 49px
}
TABLE.moduletable-shop {
	MARGIN: 0px 5px 10px 7px; WIDTH: 170px
}
TABLE.moduletable-shop TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; COLOR: #ffffff; PADDING-TOP: 2px; BACKGROUND-COLOR: #9a2f2f
}
TABLE.moduletable-shop TABLE.contentpaneopen TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE.moduletable-shop A.contentpagetitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 20px
}
CENTER IFRAME {
	MARGIN: 0px 0px 0px 5px; WIDTH: 220px
}
H3 {
	FONT-WEIGHT: bolder; FONT-SIZE: 18px; COLOR: #d10c0c; FONT-FAMILY: Arial, Helvetica, sans-serif
}
FONT {
	
}
DIV.pathway IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.moduletable-bann_dwn {
	MARGIN: 10px 0px 10px 9px; WIDTH: 100%; TEXT-ALIGN: center
}
TABLE.moduletable-bann_up {
	BORDER-RIGHT: #f7b510 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f7b510 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 10px 7px; BORDER-LEFT: #f7b510 1px solid; WIDTH: 242px; PADDING-TOP: 5px; BORDER-BOTTOM: #f7b510 1px solid; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
TABLE.moduletable-btn_dnw {
	MARGIN: 10px 8px 10px 4px; WIDTH: 100%; TEXT-ALIGN: center
}
TABLE.moduletable-featured {
	MARGIN: 20px 5px 10px 7px; WIDTH: 170px; TEXT-ALIGN: center
}
TABLE.moduletable-featured TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 20px; PADDING-BOTTOM: 0px; COLOR: #9a2f2f; PADDING-TOP: 0px; BORDER-BOTTOM: #9a2f2f 3px solid; FONT-FAMILY: "Arial Narrow", Arial, Verdana, sans-serif; LETTER-SPACING: -1px; TEXT-ALIGN: center
}
TABLE.moduletable-featured TR.sectiontableentry1 {
	BACKGROUND-COLOR: #fff
}
TABLE.moduletable-featured TR.sectiontableentry1 TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 8px; BORDER-BOTTOM: #666666 2px double
}
TABLE.moduletable-featured TR.sectiontableentry1 A {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; COLOR: #003399; PADDING-TOP: 0px; LETTER-SPACING: -1px
}
TABLE.moduletable-featured TR.sectiontableentry1 SPAN {
	
}
TABLE.moduletable-featured TR.sectiontableentry2 TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
TABLE.moduletable-featured TR.sectiontableentry2 A {
	FONT-SIZE: 10px
}
TABLE.akocomments {
	BORDER-RIGHT: #f7b510 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f7b510 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #f7b510 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #f7b510 1px solid; BACKGROUND-COLOR: #fdf0cb
}
TABLE.akocomments HR {
	MARGIN: 0px 0px 4px; BACKGROUND-COLOR: #de9931
}
TABLE.akocomments TBODY TR TD.sectiontableheader {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 6px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 2px; COLOR: #525252; LINE-HEIGHT: 15px; PADDING-TOP: 3px; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif; HEIGHT: 15px; BACKGROUND-COLOR: #f7b510; BORDER-RIGHT-WIDTH: 0px
}
TABLE.akocomments TBODY TR.sectiontableentry1 TD {
	BORDER-RIGHT: #f7b510 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f7b510 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 7px; MARGIN: 5px; BORDER-LEFT: #f7b510 1px solid; PADDING-TOP: 7px; BORDER-BOTTOM: #a90a0a 3px solid
}
TABLE.akocomments TBODY TR.sectiontableentry2 TD {
	BORDER-RIGHT: #f7b510 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f7b510 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 7px; MARGIN: 5px; BORDER-LEFT: #f7b510 1px solid; PADDING-TOP: 7px; BORDER-BOTTOM: #a90a0a 3px solid
}
TABLE.akocomments TBODY TR.sectiontableentry1 TD B {
	FONT-SIZE: 11px; COLOR: #ce5a00
}
TABLE.akocomments TBODY TR.sectiontableentry2 TD B {
	FONT-SIZE: 11px; COLOR: #ce5a00
}
TABLE.akocomments TBODY TR.sectiontableentry1 TD A {
	FONT-WEIGHT: normal
}
TABLE.akocomments TBODY TR.sectiontableentry2 TD A {
	FONT-WEIGHT: normal
}
TABLE.mod_events_latest_table {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#comercial_1 {
	MARGIN: 0px 17px 0px 10px
}
#comercial_2 {
	MARGIN: 0px 0px 0px 45px
}
#comercial_3 {
	MARGIN: 0px 5px 0px 0px
}
TABLE.blog {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
.blog TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TABLE.blog TBODY TR TD DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 15px 0px 0px; WIDTH: 496px; PADDING-TOP: 0px; HEIGHT: auto; max-width: 496px
}
.blog A.contentpagetitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bolder; FONT-SIZE: 20px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #d10c0c; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: auto
}
.blog A.contentpagetitle:hover {
	COLOR: #9d0909
}
.blog IMG {
	BORDER-RIGHT: #cdcdcd 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cdcdcd 1px solid; PADDING-LEFT: 0px; BACKGROUND: #000000; PADDING-BOTTOM: 1px; MARGIN: 0px 5px 0px 0px; BORDER-LEFT: #cdcdcd 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #a90a0a 4px solid
}
SPAN.article_separator {
	FONT-SIZE: 5px
}
TD.contentheading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bolder; FONT-SIZE: 20px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #d10c0c; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: auto
}
TD.contentheading A IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
TABLE.contentpaneopen {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; WIDTH: 100%; BORDER-RIGHT-WIDTH: 0px; border-spacing: 0
}
.contentpaneopen TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 8px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 0px; BORDER-RIGHT-WIDTH: 0px
}
.contentpaneopen A {
	COLOR: #d10c0c
}
.contentpaneopen A:hover {
	COLOR: #a90a0a
}
.contentpaneopen IMG {
	MARGIN: 0px 5px 0px 0px
}
BODY.contentpane {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND-IMAGE: none; COLOR: #686868; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TABLE.contentpane {
	MARGIN: 0px 8px 0px 0px
}
TABLE.contentpane TD {
	
}
TABLE.contentpane LI {
	MARGIN: 5px 0px 0px
}
TABLE.contentpane A {
	FONT-SIZE: 12px; COLOR: #d10c0c
}
TABLE.contentpane A:hover {
	COLOR: #a90a0a
}
TABLE.contentpane .category {
	FONT-WEIGHT: bold; COLOR: #ce5a00
}
TABLE.contentpane I {
	
}
.contentpane IMG {
	MARGIN: 0px 5px 0px 0px
}
DIV.mosimage {
	BORDER-RIGHT: #cdcdcd 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cdcdcd 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 5px 5px 0px; BORDER-LEFT: #cdcdcd 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #cdcdcd 1px solid
}
DIV.mosimage IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; hspace: 0
}
DIV.mosimage_caption {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; MARGIN: 0px; WIDTH: auto; COLOR: #666; PADDING-TOP: 2px; BORDER-BOTTOM: #f7b510 2px solid; BACKGROUND-COLOR: #ffe69c
}
SPAN.small {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 5px
}
TD.createdate {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9px; PADDING-BOTTOM: 5px; MARGIN: 5px; TEXT-TRANSFORM: none; COLOR: #666666; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: -1px
}
A.readon {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; BORDER-LEFT: #f7b410 3px solid; COLOR: #ce5a00; PADDING-TOP: 1px
}
A.readon:hover {
	COLOR: #cc0000
}
DIV.back_button {
	MARGIN: 0px 0px 10px 10px
}
DIV.back_button A {
	COLOR: #9f3737
}
DIV.back_button A:hover {
	COLOR: #000
}
A.back_button {
	BORDER-RIGHT: #999999 3px double; PADDING-RIGHT: 8px; BORDER-TOP: #999999 3px double; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; TEXT-TRANSFORM: capitalize; BORDER-LEFT: #999999 3px double; COLOR: #9f3737; PADDING-TOP: 5px; BORDER-BOTTOM: #999999 3px double; BACKGROUND-COLOR: #ffffff
}
A.back_button:hover {
	COLOR: #fff; BACKGROUND-COLOR: #850707
}
TD.componentheading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.componentheading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; MARGIN: 8px 8px 8px 0px; TEXT-TRANSFORM: uppercase; COLOR: #fff; PADDING-TOP: 10px; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif; BACKGROUND-COLOR: #d10c0c; TEXT-ALIGN: left
}
SPAN.componentheading {
	FONT-WEIGHT: normal; FONT-SIZE: 24px; COLOR: #de9931; FONT-FAMILY: "Arial Narrow", Arial, Verdana, sans-serif; LETTER-SPACING: -1px
}
SPAN.componentheading:hover {
	COLOR: #ce5a00
}
SPAN.contentheading {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; MARGIN: 8px 8px 8px 0px; TEXT-TRANSFORM: uppercase; WIDTH: 100%; COLOR: #fff; PADDING-TOP: 10px; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif; BACKGROUND-COLOR: #d10c0c; TEXT-ALIGN: left
}
TD.contentdescription {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
TD.contentdescription A {
	COLOR: #d10c0c
}
TD.contentdescription A:hover {
	COLOR: #7f0707
}
TD.buttonheading {
	PADDING-RIGHT: 3px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TD.buttonheading IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
TD.buttonheading A {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TD.sectiontableheader {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: #999999 2px solid
}
TR.sectiontableentry1 TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #dddddd 1px solid
}
TR.sectiontableentry2 TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #dddddd 1px solid
}
TR.sectiontableentry1 TD A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px
}
TR.sectiontableentry2 TD A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px
}
TR.sectiontablefooter {
	
}
SPAN.content_rating {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 25px; PADDING-TOP: 0px
}
SPAN.content_vote {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 30px; PADDING-TOP: 0px
}
TABLE.contentpaneopen TBODY TR TD DIV TABLE TBODY TR TD A IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
